.calendar-container *{
    margin:0px;
    padding:0px;
    font-family: '微软雅黑';
}

.calendar-container{
    width: 600px;
}

#dateBody{
    width:440px;
    padding:10px;
    background:#F2FFFF;
    float: left;
}

.information{
    padding:5px;
    background:#F2FFFF;
    float: left;
    width: 130px;
    font-size: 12px;
    color: #999;
}

.date-bar{
    color: #000;
    margin: 15px 8px;
}

.now-weekday{
    padding-left: 2px;
}

.date-show-today{
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    font-size: 60px;
    color: #c00;
    text-align: center;
}

.date-desc{
    text-align: center;
}

.lunar, .lunar-ganzhi{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clearfix{
    /*clear: both;*/
    overflow: auto;
    zoom: 1;
}

.weekday{
    width:60px;
    height:40px;
    background:#fefbeb;
    line-height:30px;
    margin:1px;
    text-align:center;
    margin-top:2px;
    vertical-align:middle;
    float:left;
}

.day{
    width:60px;
    height:46px;
    background:#fff;
    /*line-height:40px;*/
    margin:1px;
    text-align:center;
    float:left;
    cursor: pointer;
    overflow: hidden;
}

#returnToday{
    display: inline-block;
    /*float: left;*/
    width: 60px;
    height: 23px;
    line-height: 25px;
    background: #fff;
    border: 1px solid #c9cccf;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.dayOfOtherMonth{
    width:60px;
    height:46px;
    background:#f5f5f5;
    /*line-height:40px;*/
    margin:1px;
    text-align:center;
    float:left;
    cursor: pointer;
    overflow: hidden;
}

.solar{
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    padding-top: 3px;
}

.lunar{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
}

.day .weekend{
    color: #b04343;
}

.dayOfOtherMonth .weekend{
    color: #b04343;
}

#thisDay {
    background: url("../images/circle.gif") #fff no-repeat 10px 0;
}

#setDate{
    width:600px;
    height:40px;
    background:#f3f5fa;
    vertical-align:middle;
    line-height:40px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    color: #999;
}

#nowTime{
    padding-left: 10px;
}

#borthTextAre{
    width:600px;
    height:20px;
    background:#96F;
}
