.calendar-container *{
    margin:0px;
    padding:0px;
    font-family: '微软雅黑';
}

.calendar-container{
    width: 600px;
}

.main-calendar-body{
    background-color: #fff;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#holiday{
    width: 120px;
}

#dateBody{
    width:440px;
    /*padding:9px;*/
    /*background:#F2FFFF;*/
    border: 1px solid #d2d2d2;
    /*border-top: 1px solid #f1ebe4;*/
    /*border-left: 1px solid #f1ebe4;*/
    float: left;
}

.information{
    /*padding:5px;*/
    /*background:#F2FFFF;*/
    float: left;
    width: 155px;
    font-size: 12px;
    color: #999;

}

.almanac{
    padding: 5px;
    border-bottom: 1px solid #d2d2d2;
}

.date-bar{
    color: #000;
    margin: 15px 8px;
    text-align: center;
}

.now-weekday{
    padding-left: 2px;
}

.date-show-today{
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    font-size: 60px;
    color: #c00;
    text-align: center;
}

.date-desc{
    text-align: center;
}

.lunar, .lunar-ganzhi{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clearfix{
    /*clear: both;*/
    overflow: auto;
    zoom: 1;
}

.weekday-title .weekday{
    width:14%;
    height:40px;
    background:#fefbeb;
    line-height:30px;
    /*margin:1px;*/
    border-bottom: 1px solid #f1ebe4;
    text-align:center;
    margin-top:2px;
    vertical-align:middle;
    float:left;
}

.weekday-title .weekday:not(:last-child){
    border-right: 1px solid #f1ebe4;
}

.day{
    width:14%;
    height:46px;
    background:#fff;
    /*line-height:40px;*/
    /*margin:1px;*/
    border-right: 1px solid #f1ebe4;
    border-bottom: 1px solid #f1ebe4;
    text-align:center;
    float:left;
    cursor: pointer;
    overflow: hidden;
}

#returnToday{
    display: inline-block;
    /*float: left;*/
    width: 60px;
    height: 23px;
    line-height: 25px;
    background: #fff;
    border: 1px solid #c9cccf;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.dayOfOtherMonth{
    width:14%;
    height:46px;
    background:#f5f5f5;
    /*line-height:40px;*/
    /*margin:1px;*/
    border-right: 1px solid #f1ebe4;
    border-bottom: 1px solid #f1ebe4;
    text-align:center;
    float:left;
    cursor: pointer;
    overflow: hidden;
}

.solar{
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    padding-top: 3px;
}

.lunar{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
}

.lunar-term{
    color: #8eb475;
}

.lunar-vacation{
    color: #b04343;
}

.day .weekend{
    color: #b04343;
}

.dayOfOtherMonth .weekend{
    color: #b04343;
}

.day-vacation{
    position: relative;
}
.day-vacation .logo-border{
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 15px;
    height: 16px;
    overflow: hidden;
    background: url("../images/vocation_logo.gif") no-repeat 0 0;
}

.day-vacation .lunar{
    color: #b04343;
}

.day-workday{
    position: relative;
}

.day-workday .logo-border{
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 15px;
    height: 16px;
    overflow: hidden;
    background: url("../images/vocation_logo.gif") no-repeat 0 -20px;
}

#thisDay {
    background: url("../images/circle.gif") #fff no-repeat 10px 0;
}

#setDate{
    width:600px;
    height:40px;
    background:#f3f5fa;
    vertical-align:middle;
    line-height:40px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    color: #999;

}

#setDate label{
    padding: 0 2px;
}

.now-time{
    font-size: 10px;
}

#nowTime{
    padding-left: 10px;
}

#borthTextAre{
    width:600px;
    height:20px;
    background:#96F;
}
